// footer styles
.footerSocial {
    height: 5rem;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 1;
}

