.application {
    display: none;
}

// position header absolute.
header {
    position: absolute;
    top: 38rem;
    left: -45rem;
    width: 100vh;
    transform: rotate(-90deg);
    text-shadow: 3px 3px 3px $blackColor;
    z-index: 10;
}

.asideButtonContainer {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1%;
    top: 2%;
    z-index: 10;

    h3 {
        margin-left: 6%;
        margin-top: 1%;
        width: 150px;
    }
}

.instrIcon {
    margin: 1%;
    z-index: 10;
}

.instrIcon:active, .instrIcon:focus, .instrIcon:hover {
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
}

aside {
    background: url(./../assets/boris-misevic-cQltbypBFvg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 100vh;
    box-shadow: 3px 3px 3px $blackColor;
    padding-top: calc(10rem - 1.5vw);
    position: absolute;
}

.sideDrawer.open {
        transform: translateX(-105%);
}

.sideDrawer {
    width: 30%;
    min-width: 320px;
    
    .instrContainer {
        width: 75%;
        margin: 0 auto;
        padding: 5%;
        background: rgba(255, 255, 255, 0.507);;
        border-radius: 25px;
        box-shadow: 2px 2px 2px $blackColor;

        h2 {
            text-align: center;
            display: inline-block;
            width: 100%;
        }
    }
}


